@import "tailwindcss";

@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* 페이드인 애니메이션 */
@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideUpFadeIn {
  animation: slideUpFadeIn 0.8s cubic-bezier(0.22, 1, 0.36, 1) both;
}

/* 타이핑 애니메이션 */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.typing-effect {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 2s steps(40, end) forwards;
}
